/* Override Bootstrap Color Variables for Dark Mode */

body {
  background-color: var(--dark); /* Set the dark background color */
  color: var(--light);
  font-size: 12px;
  line-height: 1.5;
}

.container-fluid .table-hover .newRow {
  transition: --bs-table-bg 0.5s, --bs-table-color 0.5s; /* Add more properties as needed */
  --bs-table-bg: yellow ;
  --bs-table-color: black;
}

.container-fluid .table-hover .standardRow {
  transition: --bs-table-bg 0.5s, --bs-table-color 0.5s; /* Add more properties as needed */
  --bs-table-bg: initial;
  --bs-table-color: initial;
}

.container-fluid .table-hover .newRow .new-cell-animation {
  transition: --bs-table-bg 0.5s, --bs-table-color 0.5s ; /* Add more properties as needed */
  --bs-table-bg: yellow;
  --bs-table-color: black;
}

.container-fluid .table-hover .newRow .increase-cell-animation {
  transition: background-color 0.5s, --bs-table-color 0.5s; /* Add more properties as needed */
  background-color: green;
  --bs-table-color: black;
}

.container-fluid .table-hover .newRow .decrease-cell-animation {
  transition: --bs-table-bg 0.5s, --bs-table-color 0.5s; /* Add more properties as needed */
  --bs-table-bg: red;
  --bs-table-color: black;
}

.small-gray-text {
  font-size: 0.8em;
  color: gray;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  margin: 0;
}

/* .table-hover tbody tr:hover {
  background-color: #ff5959; 
  color: #fff;/
}

.table-hover tbody tr:hover td {
  background-color: rgba(255, 89, 89, 0.5); 
}  */

